header{	background-color:#000044;
color:#E6E6fa;}
#contenidocabezera {display: flex;}
.imagentitulo {flex:	1;
height:30px;}
#logotipo {height:100px;}
.textotitulo {flex:2;}
nav{background-color:#000000;
color:#ffffff;
	display:flex;
justify-content:flex-end;}
nav ul {display: flex;
list-style: none;}
nav ul li {margin:0 10px;}
nav ul li a {text-decoration:none;i. color:#ffffff;}
nav ul li ul {display: none;}
nav ul li:hover ul {display:block;
position:absolute;
background-color: #0000055;}


